<div nz-row class="center-div">
  <div nz-col nzSpan="12" *ngIf="dataLoaded">
    <h1>{{ eventData.name }}</h1>
    <h3>{{ eventData.eventDate }}</h3>
    <h3>{{ eventData.location }}</h3>
    <div class="image-container">
      <img src="http://localhost:8080/image/{{ eventData.image1 }}" />
    </div>
    <h2>{{ eventData.organizer }}</h2>
    <p>
      {{ eventData.details }}
    </p>
    <h2>票價: {{ eventData.price }}</h2>
    <div *ngIf="eventData.status === 1">
      <button nz-button nzSize="large" nzType="primary" (click)="goToOrder()">
        立即訂購
      </button>
    </div>
    <div *ngIf="eventData.status === 2">
      <button nz-button nzType="primary" disabled>尚未開賣</button>
    </div>
  </div>
</div>
