<nz-input-group [nzSuffix]="suffixIconSearch">
    <input type="text" nz-input placeholder="搜索活動" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>
<br>
<br>
<h1>活動</h1>
<div nz-row [nzGutter]="[20, 20]">
  <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let i of array">
    <nz-card nzHoverable style="width:400px" [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <a routerLink="/events/1">
        <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
      </a>
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let i of array">
    <nz-card nzHoverable style="width:400px" [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <div class="image-container">
        <a routerLink="/events/2">
          <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
        </a>
      </div>
    </ng-template>
  </div>
</div>
<p>events works!</p>
