
<div nz-row class="center-div">
    <div nz-col nzSpan="10">
      <h1>註冊</h1>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzLg]="6" [nzMd]="24" nzRequired nzFor="username">使用者名稱</nz-form-label>
          <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入使用者名稱!">
            <input nz-input formControlName="username" id="username" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzLg]="6" [nzMd]="24" nzRequired nzFor="email">Email</nz-form-label>
          <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入Email!">
            <input nz-input formControlName="email" id="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzLg]="6" [nzMd]="24" nzRequired nzFor="phone">電話</nz-form-label>
          <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入電話!">
            <input nz-input formControlName="phone" id="phone" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzLg]="6" [nzMd]="24" nzFor="password" nzRequired>密碼</nz-form-label>
          <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入密碼!">
            <input
              nz-input
              type="password"
              id="password"
              formControlName="password"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzLg]="6" [nzMd]="24" nzFor="checkPassword" nzRequired>確認密碼</nz-form-label>
          <nz-form-control [nzLg]="12" [nzMd]="24" [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">請確認您的密碼！</ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                兩次輸入的密碼不一致！
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="4">
            <button nz-button nzType="primary">提交</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
  