<div nz-row class="center-div">
  <div nz-col nzSpan="10">
    <h1>個人信息</h1>
    <nz-card style="width: 500px" nzTitle="基本資訊" [nzExtra]="extraTemplate">
      <ul nz-list nzBordered nzSize="large" *ngIf="userDataLoaded">
        <li nz-list-item nzNoFlex>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              {{ userData.userName }}
            </nz-list-item-action>
          </ul>
          帳號
        </li>
        <li nz-list-item nzNoFlex>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              {{ userData.email }}
            </nz-list-item-action>
          </ul>
          Email
        </li>
        <li nz-list-item nzNoFlex>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              {{ userData.phone }}
            </nz-list-item-action>
          </ul>
          電話
        </li>
      </ul>
    </nz-card>
    <ng-template #extraTemplate>
      <a routerLink="/edit-info">修改密碼</a>
    </ng-template>
  </div>
</div>
<div nz-row class="center-div">
  <div nz-col nzSpan="10">
    <button nz-button nzSize="large" nzType="primary">查詢訂票紀錄</button>
  </div>
</div>
<br />
<div nz-row class="center-div">
  <div nz-col nzSpan="10">
    <button nz-button nzSize="large" nzType="primary">登出</button>
  </div>
</div>
<!-- <div nz-row class="center-div">
  <div nz-col nzSpan="10">
    <h1>訂購紀錄</h1>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td>
            <a>Action 一 {{ data.name }}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div> -->
