<div nz-row class="center-div">
  <div nz-col nzSpan="14">
    <h1>新增活動</h1>
    <nz-upload
      nzName="image"
      nzAction="http://localhost:8080/image"
      nzFileType="image/jpeg"
      (nzChange)="handleChange($event)"
    >
      <button nz-button>
        <span nz-icon nzType="upload"></span>
        上傳圖片
      </button>
    </nz-upload>
    <form
      nz-form
      nzLayout="vertical"
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-label [nzLg]="6" [nzMd]="24" nzRequired nzFor="name"
          >活動名稱</nz-form-label
        >
        <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入活動名稱!">
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzLg]="6" [nzMd]="24" nzRequired nzFor="organizer"
          >主辦單位</nz-form-label
        >
        <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入主辦單位!">
          <input nz-input formControlName="organizer" id="organizer" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzLg]="6" [nzMd]="24" nzRequired nzFor="location"
          >活動地點</nz-form-label
        >
        <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入活動地點!">
          <input nz-input formControlName="location" id="location" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzLg]="6" [nzMd]="24" nzRequired nzFor="eventDate"
          >活動日期</nz-form-label
        >
        <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入活動日期!">
          <input nz-input formControlName="eventDate" id="eventDate" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzLg]="6" [nzMd]="24" nzRequired nzFor="details"
          >活動詳情</nz-form-label
        >
        <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入活動詳情!">
          <textarea
            rows="4"
            nz-input
            formControlName="details"
            id="details"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzLg]="6" [nzMd]="24" nzRequired nzFor="price"
          >價格</nz-form-label
        >
        <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入價格!">
          <nz-input-number
            [nzMin]="100"
            [nzMax]="10000"
            [nzStep]="100"
            formControlName="price"
            id="price"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzLg]="6" [nzMd]="24" nzRequired nzFor="qty"
          >庫存</nz-form-label
        >
        <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入庫存!">
          <nz-input-number
            [nzMin]="10"
            [nzMax]="10000"
            [nzStep]="1"
            formControlName="qty"
            id="qty"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzLg]="6" [nzMd]="24" nzRequired nzFor="status"
          >狀態</nz-form-label
        >
        <nz-form-control [nzLg]="12" [nzMd]="24" nzErrorTip="請輸入狀態!">
          <nz-radio-group [ngModel]="'0'" formControlName="status" id="status">
            <label nz-radio nzValue="1">販售中</label>
            <label nz-radio nzValue="2">未開賣</label>
            <label nz-radio nzValue="0">下架</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="4">
          <button nz-button nzType="primary">提交</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
