<div nz-row class="center-div">
  <div nz-col nzSpan="24">
    <h1>活動查詢</h1>
    <button nz-button nzType="primary" (click)="goToAddEvent()">
      新增活動
    </button>
    <nz-table #basicTable [nzData]="listOfData" [nzPageSize]="6">
      <thead>
        <tr>
          <th>圖片</th>
          <th>編號</th>
          <th>活動名稱</th>
          <th>活動詳情</th>
          <th>活動日期</th>
          <th>狀態</th>
          <th>價格</th>
          <th>庫存</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of basicTable.data">
          <tr>
            <td>
              <div class="image-container">
                <img src="http://localhost:8080/image/{{ data.image1 }}" />
              </div>
            </td>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td
              [nzExpand]="expandSet.has(data.id)"
              (nzExpandChange)="onExpandChange(data.id, $event)"
            ></td>
            <td>{{ data.eventDate }}</td>
            <td>
              <container-element [ngSwitch]="data.status">
                <some-element *ngSwitchCase="1"
                  ><nz-badge
                    [nzStatus]="'success'"
                    [nzText]="'販售中'"
                  ></nz-badge
                ></some-element>
                <some-element *ngSwitchCase="2"
                  ><nz-badge
                    [nzStatus]="'processing'"
                    [nzText]="'未開賣'"
                  ></nz-badge
                ></some-element>
                <some-element *ngSwitchDefault
                  ><nz-badge [nzStatus]="'error'" [nzText]="'下架'"></nz-badge
                ></some-element>
              </container-element>
            </td>
            <td>{{ data.price }}</td>
            <td>{{ data.qty }}</td>
            <td>
              <a routerLink="/admin/edit-event/{{ data.id }}">修改</a>
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <p>{{ data.details }}</p>
            <p>{{ data.location }}</p>
            <p>{{ data.organizer }}</p>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</div>
