<div nz-row class="center-div">
  <div nz-col nzSpan="24">
    <h1>活動查詢</h1>
    <button nz-button nzType="primary" (click)="goToAddEvent()">
      新增活動
    </button>
    <nz-table #basicTable [nzData]="listOfData" [nzPageSize]="6">
      <thead>
        <tr>
          <th>圖片</th>
          <th>編號</th>
          <th>活動名稱</th>
          <th>活動詳情</th>
          <th>活動地點</th>
          <th>主辦單位</th>
          <th>活動日期</th>
          <th>狀態</th>
          <th>價格</th>
          <th>庫存</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>
            <div class="image-container">
              <img src="http://localhost:8080/image/{{ data.image1 }}" />
            </div>
          </td>
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.details }}</td>
          <td>{{ data.location }}</td>
          <td>{{ data.organizer }}</td>
          <td>{{ data.eventDate }}</td>
          <td>
            {{
              data.status === 1
                ? "販售中"
                : data.status === 2
                ? "尚未開賣"
                : "下架"
            }}
          </td>
          <td>{{ data.price }}</td>
          <td>{{ data.qty }}</td>
          <td>
            <a routerLink="/admin/edit-event/{{ data.id }}">修改</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
