<div nz-row class="center-div">
  <div nz-col nzSpan="24">
    <h1>訂票紀錄查詢</h1>
    <nz-table #basicTable [nzData]="listOfData" [nzPageSize]="6">
      <thead>
        <tr>
          <th>活動詳情</th>
          <th>編號</th>
          <th>訂票價格</th>
          <th>訂購張數</th>
          <th>總金額</th>
          <th>訂單狀態</th>
          <th>訂購日期</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="basicTable.data">
          <tr>
            <td
              [nzExpand]="expandSet.has(data.id)"
              (nzExpandChange)="onExpandChange(data.id, $event)"
            ></td>
            <td>{{ data.id }}</td>
            <td>{{ data.eventPrice }}</td>
            <td>{{ data.quantity }}</td>
            <td>{{ data.eventPrice * data.quantity }}</td>
            <td>
              <container-element [ngSwitch]="data.status">
                <some-element *ngSwitchCase="1"
                  ><nz-badge [nzStatus]="'success'" [nzText]="'完成'"></nz-badge
                ></some-element>
                <some-element *ngSwitchDefault
                  ><nz-badge [nzStatus]="'error'" [nzText]="'取消'"></nz-badge
                ></some-element>
              </container-element>
            </td>
            <td>
              {{ data.orderDate | date : "yyyy-MM-dd HH:mm" }}
            </td>
            <td>
              <a *ngIf="data.status == 1" (click)="cancelOrder(data.id)"
                >取消</a
              >
              <span *ngIf="data.status == 0">已取消</span>
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <nz-table
              #innerTable
              [nzData]="listOfChildrenData"
              nzSize="middle"
              [nzShowPagination]="false"
            >
              <thead>
                <tr>
                  <th>活動圖片</th>
                  <th>活動名稱</th>
                  <th>主辦單位</th>
                  <th>活動地點</th>
                  <th>活動日期</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tmp of innerTable.data">
                  <td>
                    <div class="image-container">
                      <a routerLink="/events/{{ data.event.id }}">
                        <img
                          alt="example"
                          src="http://localhost:8080/image/{{
                            data.event.image1
                          }}"
                        />
                      </a>
                    </div>
                  </td>
                  <td>{{ data.event.name }}</td>
                  <td>{{ data.event.organizer }}</td>
                  <td>{{ data.event.location }}</td>
                  <td>{{ data.event.eventDate }}</td>
                </tr>
              </tbody></nz-table
            >
          </tr></ng-template
        >
      </tbody>
    </nz-table>
  </div>
</div>
